{% import "macros.html" as macros %}
{% extends "layout.html" %}
{% block content %}

<h1>{{ artist.name.name }}</h1>

<div class="row">
  <div class="span3">
    <p><img src="{{ url_for('artist.image', id=artist.gid, size=270) }}" href="Picture of {{ artist.name.name }}" width="270" height="270" /></p>
    <p class="muted">See this artist at <a href="//musicbrainz.org/artist/{{ artist.gid }}">MusicBrainz</a></p>
  </div>
  <div class="span9">

<table class="table table-condensed table-releases">
  <tbody>
    {% for release in releases %}
    <tr>
      <td class="column-cover"><img src="{{ url_for('release.cover_art', id=release.gid, size=50) }}" width="50" height="50" /></td>
      <td><a href="{{ url_for('release.index', id=release.gid) }}">{{ release.name.name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div>

</div>


{% endblock %}
