{% import "macros.html" as macros %}
{% extends "layout.html" %}
{% block content %}

<h1>{{ directory.name }}</h1>

<table class="table table-striped table-condensed">
  <tbody>
    {% for directory in directories %}
      <tr>
        <td><i class="icon-folder-open"></i> <a href="{{ url_for('files.index', directory_id=directory.id) }}">{{ directory.name }}</a></td>
      <td>
    {% endfor %}
    {% for file in files %}
      <tr>
        <td><i class="icon-file"></i> {{ file.name }}</td>
      <td>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
