{% import "macros.html" as macros %}
{% extends "layout.html" %}
{% block content %}

<div class="row">

  <div class="span6">
    <h1>Recently Added Releases</h1>
    <table class="table table-condensed table-releases">
      <tbody>
        {% for release in last_added_releases %}
        <tr>
          <td class="column-cover"><img src="{{ url_for('release.cover_art', id=release.mb_release.gid, size=50) }}" width="50" height="50" /></td>
          <td>{{ macros.render_artist_credit(release.mb_release.artist_credit) }} &ndash; <a href="{{ url_for('release.index', id=release.mb_release_id) }}">{{ release.mb_release.name.name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="span6">
    <h1>Random Releases</h1>
    <table class="table table-condensed table-releases">
      <tbody>
        {% for release in random_releases %}
        <tr>
          <td class="column-cover"><img src="{{ url_for('release.cover_art', id=release.mb_release.gid, size=50) }}" width="50" height="50" /></td>
          <td>{{ macros.render_artist_credit(release.mb_release.artist_credit) }} &ndash; <a href="{{ url_for('release.index', id=release.mb_release_id) }}">{{ release.mb_release.name.name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}

