<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if self.title() %}{% block title %}{% endblock %} - {% endif %}Musiqué</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for_static('bootstrap/css/bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for_static('bootstrap/css/bootstrap-responsive.min.css') }}" media="screen">
    <link rel="stylesheet/less" href="{{ url_for_static('muziq.less') }}">
    <script src="{{ url_for_static('less-1.3.0.min.js') }}"></script>
	<script src="{{ url_for_static('jquery-1.10.0.min.js') }}"></script>
    <script src="{{ url_for_static('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for_static('muziq.js') }}"></script>
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{ url_for('index') }}">MZQ</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('files.index') }}">Files</a></li>
                        <li><a href="#radio">Radio</a></li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>

	<div id="wrap">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <div id="push"></div>
    </div>

    <div id="footer">
	    <div class="container">
            <p class="muted credit">
                Created by <a href="http://oxygene.sk/">Lukáš Lalinský</a> | Music metadata provided by <a href="http://musicbrainz.org/">MusicBrainz</a> | Audio played using <a href="http://www.videolan.org/vlc/">VideoLAN media player</a>
            </p>
        </div>
    </div>

</body>
</html>

