{% import "macros.html" as macros %}
{% extends "layout.html" %}
{% block content %}

<h1>{{ macros.render_artist_credit(release.artist_credit) }} &ndash; {{ release.name.name }}</h1>

<div class="row">
  <div class="span3">
    <p><img src="{{ url_for('release.cover_art', id=release.gid, size=270) }}" href="Cover art for release {{ release.name.name }}" width="270" height="270" /></p>
    <p>
      {% if files %}
      <a class="btn btn-small vlc-play-xspf" href="{{ url_for('release.xspf', id=release.gid, _external=True) }}"><i class="icon-play"></i> Play</a>
      <a class="btn btn-small" href="{{ url_for('release.xspf', id=release.gid) }}"><i class="icon-download-alt"></i> Download</a>
      {% endif %}
    </p>
    <p>
      <b>{{ release.name.name }}</b><br>
      {{ macros.render_artist_credit(release.artist_credit) }}
    </p>
    <p class="muted">See this release at <a href="//musicbrainz.org/release/{{ release.gid }}">MusicBrainz</a></p>
  </div>
  <div class="span9">

<table class="table table-striped table-condensed table-release">
{% for medium in release.mediums %}
    <thead>
        <tr>
            <th></th>
            <th colspan="2">Medium {{ medium.position }}</th>
        <tr>
    </thead>
    <tbody>
      {% for track in medium.tracks %}
        <tr>
            <td class="column-track muted">{{ track.position }}.</td>
            <td class="column-title">
                {{ track.name.name }}
                {% if track.artist_credit_id != release.artist_credit_id %}
                   <br><small> &ndash; {{ macros.render_artist_credit(track.artist_credit) }}</small>
                {% endif %}
            </td>
            <td class="column-length muted">{{ track.length | lengthformat }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endfor %}
</table>
    </div>

</div>

{% endblock %}
