{% extends "layout.html" %}
{% block title %}Search results for "{{ query }}"{% endblock %}
{% block content %}

<h1>Search results for "{{ query }}"</h1>

{% for result in results %}
<p>
	{% if result.kind == 'artist' %}
	Artist: <a href="{{ url_for('artist.index', id=result.id) }}">{{ result.name }}</a>
	{% else %}
	<a href="{{ result.url }}">{{ result.name }}</a>
	{% endif %}
</p>
{% endfor %}

{% endblock %}

