@footer-background: #999;

body, html {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#wrap > .container {
    padding-top: 60px;
}

.container .credit {
    line-height: 60px;
    height: 60px;
    margin: 0;
    font-size: 90%;
}

.table-release td,
.table-release th {
    padding-left: 8px;
    padding-right: 8px;
}

.table .column-track {
    width: 1em;
    text-align: right;
}

.table .column-length {
    width: 4em;
    text-align: right;
}

.table .column-cover {
    width: 50px;
}

h1 {
    margin-top: 0;
    font-size: 31.5px;
}

h2 {
    margin-top: 0;
    font-size: 25.5px;
}

a {
    color: #1A4D7C;
}

a:hover {
    color: #6589ab;
}

.table-releases td {
    vertical-align: middle;
}

@media (min-width: 768px) and (max-width: 979px) {
    #wrap > .container {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    #wrap > .container {
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    #wrap > .container {
        padding-top: 0;
    }
}

